* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.gutim {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.gutim .container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4c4c4c;
}
.gutim .container .logo a {
  display: inline-block;
  padding: 24px 0 29px;
}
.gutim .container .nav-menu {
  display: flex;
  align-items: center;
}
.gutim .container .nav-menu .menu {
  display: flex;
}
.gutim .container .nav-menu .menu li {
  position: relative;
  margin-right: 33px;
}
.gutim .container .nav-menu .menu li a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 28px 0;
}
.gutim .container .nav-menu .menu li a:hover::after {
  width: 100%;
  opacity: 1;
}
.gutim .container .nav-menu .menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #f15d44;
  transition: all 0.3s;
  opacity: 0;
}
.gutim .container .nav-menu .menu .btn {
  margin: 16px 0px 16px 30px;
}
.gutim .container .nav-menu .btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  padding: 0 12px;
  color: #ffffff;
  text-align: center;
  margin: 16px 0px 16px 30px;
  width: 160px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  transition-duration: 1000ms;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.gutim .container .nav-menu .btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.gutim .container .nav-menu .btn:hover::before {
  left: 100%;
}
.gutim .container .nav-menu .close-menu {
  display: none;
}
.gutim .container .nav-menu.active {
  display: block;
}
.gutim .container .menu-toggle {
  display: none;
  color: #ffffff;
}

footer {
  background: #111111;
  padding: 60px 60px 30px;
}
footer .information .container {
  display: flex;
  justify-content: space-between;
}
footer .information .container .contact span {
  font-size: 14px;
  color: #f15d44;
}
footer .information .container .contact p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 15px;
}
footer .subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background-repeat: no-repeat;
  background-image: url("https://preview.colorlib.com/theme/gutim/img/footer-signup.jpg.webp");
  padding: 0 45px;
  margin-bottom: 30px;
  margin-top: 43px;
}
footer .subscribe .container .text {
  padding: 34px 0 26px;
}
footer .subscribe .container .text h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
footer .subscribe .container .text p {
  font-size: 14px;
  color: #ffffff;
}
footer .subscribe .container form {
  width: 340px;
  position: relative;
  margin: 37px 0;
  display: flex;
}
footer .subscribe .container form input {
  width: 100%;
  height: 46px;
  font-size: 14px;
  color: #bdbdbd;
  border: 1px solid #ffffff;
  padding-left: 22px;
  outline: none;
}
footer .subscribe .container form button {
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  border: none;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 22px;
  cursor: pointer;
}
footer .copyright .container {
  display: flex;
  align-items: center;
  color: #ffffff;
}
footer .copyright .container p {
  padding-top: 6px;
  color: #ffffff;
  margin-right: 25px;
}
footer .copyright .container p:hover {
  color: #f15d44;
  transition: 0.3s;
}
footer .copyright .container ul {
  display: flex;
  margin: 0 33px;
}
footer .copyright .container ul li {
  font-size: 16px;
  margin-right: 25px;
  line-height: 40px;
}
footer .copyright .container ul li a {
  color: #ffffff;
}
footer .copyright .container ul li a:hover {
  color: #f15d44;
  transition: 0.3s;
}
footer .copyright .container .social i {
  font-size: 16px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background: #282828;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
footer .copyright .container .social i:hover {
  background: linear-gradient(to right, #eb3c5a, #f67831);
}

.hero {
  background-image: url("https://preview.colorlib.com/theme/gutim/img/hero-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.hero .container {
  height: 880px;
  padding-top: 335px;
}
.hero .container .content {
  padding: 0 15px;
}
.hero .container .content span {
  font-size: 14px;
  font-weight: 600;
  color: #f15d44;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero .container .content h1 {
  font-size: 72px;
  font-weight: 600;
  color: #ffffff;
  margin: 11px 0 18px 0;
}
.hero .container .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  margin-bottom: 44px;
}
.hero .container .content a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  padding: 0 12px;
  color: #ffffff;
  width: 160px;
  height: 46px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  transition-duration: 1000ms;
  position: relative;
  z-index: 1;
}
.hero .container .content a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.hero .container .content a:hover::before {
  left: 100%;
}

.story {
  padding: 100px 0 100px 0;
}
.story .container {
  display: flex;
}
.story .container .video {
  position: relative;
  padding: 0 15px;
  width: 50%;
}
.story .container .video img {
  width: 100%;
}
.story .container .video a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-41.5px, -41.5px);
}
.story .container .content {
  padding: 15px 0 0 55px;
  width: 50%;
}
.story .container .content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.story .container .content p {
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
.story .container .content .second {
  margin-bottom: 40px;
}
.story .container .content a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  padding: 0 12px;
  color: #ffffff;
  width: 160px;
  height: 46px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  transition-duration: 1000ms;
  position: relative;
  z-index: 1;
}
.story .container .content a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.story .container .content a:hover::before {
  left: 100%;
}
.story .container .content img {
  margin-bottom: 20px;
}
.story .container .content .author h4 {
  font-size: 22px;
  color: #111111;
  font-weight: 600;
}
.story .container .content .author span {
  font-size: 12px;
  color: #f15d44;
}

.strategies .container {
  display: flex;
  max-width: 1423px;
}
.strategies .container .image {
  width: 50%;
}
.strategies .container .image img {
  width: 100%;
  height: 100%;
}
.strategies .container .boxes {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 711px);
}
.strategies .container .boxes .box {
  padding: 66px 45px 0 70px;
  background-color: #000;
  width: 50%;
  height: 330px;
}
.strategies .container .boxes .box h4 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin: 34px 0 20px 0;
}
.strategies .container .boxes .box p {
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.unlimited {
  padding: 90px 0 95px 0;
}
.unlimited .Personal {
  max-width: 1170px;
  margin: 0 auto;
}
.unlimited .Personal h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.unlimited .Personal .swiper-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  margin-bottom: 15px;
}
.unlimited .Personal .swiper-wrapper .swiper-slide {
  position: relative !important;
  margin-bottom: 30px;
  margin-top: 0 !important;
  width: 33%;
  overflow: hidden;
}
.unlimited .Personal .swiper-wrapper .swiper-slide img {
  max-width: 350px;
  width: 100%;
}
.unlimited .Personal .swiper-wrapper .swiper-slide .text {
  position: absolute;
  bottom: 6px;
  width: 95%;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0 15px 30px;
  box-sizing: border-box;
}
.unlimited .Personal .swiper-wrapper .swiper-slide .text h4 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
.unlimited .Personal .swiper-wrapper .swiper-slide .text span {
  font-size: 14px;
  color: #ffffff;
}
.unlimited .Personal .swiper-wrapper .swiper-slide .text span i {
  color: #e85d39;
  margin-right: 4px;
}
.unlimited .Personal .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #ccc;
  opacity: 1;
  transition: width 0.3s;
}
.unlimited .Personal .swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 50px;
  background: #f67831;
}
.unlimited .Personal .swiper-pagination .swiper-pagination-bullet:nth-child(n+3) {
  display: none;
}

.expert {
  background: #f5f5f5;
  padding: 90px 0 190px 0;
}
.expert .container {
  padding: 0 15px;
}
.expert .container h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-bottom: 45px;
}
.expert .container .cards {
  display: flex;
}
.expert .container .cards .card {
  position: relative;
  width: 33%;
  margin: 0 15px;
}
.expert .container .cards .card img {
  width: 100%;
}
.expert .container .cards .card .text {
  position: absolute;
  left: 50%;
  bottom: -55px;
  text-align: center;
  background: #ffffff;
  width: 83%;
  height: 90px;
  padding: 20px 30px 18px;
  margin: 0 auto;
  transition: all 0.5s;
  overflow: hidden;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
  transform-origin: bottom center;
}
.expert .container .cards .card .text h5 {
  font-size: 20px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 4px;
}
.expert .container .cards .card .text span {
  font-size: 16px;
  color: #f15d44;
}
.expert .container .cards .card .text p {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  opacity: 0;
  transition: all 0.3s;
  margin: 7px 0 15px 0;
}
.expert .container .cards .card .text .social {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.expert .container .cards .card .text .social a {
  font-size: 17px;
  color: #111111;
  margin: 0 12px;
  transition: all 0.3s;
}
.expert .container .cards .card:hover .text {
  bottom: -90px;
  height: 250px;
}
.expert .container .cards .card:hover .text p {
  opacity: 1;
}
.expert .container .cards .card:hover .text .social {
  opacity: 1;
  visibility: visible;
}
.expert .container .cards .card:hover .text .social i:hover {
  color: #eb3c5a;
  transition: 0.2s;
}

.success {
  padding: 60px 0 100px 0;
}
.success .mySwiper {
  max-width: 1170px;
  position: relative;
}
.success .mySwiper h2 {
  font-size: 40px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.success .mySwiper .swiper-wrapper {
  max-width: 975px;
}
.success .mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 12%;
  max-width: 945px;
}
.success .mySwiper .swiper-wrapper .swiper-slide p {
  font-size: 22px;
  text-align: center;
  color: #111111;
  line-height: 30px;
  margin-bottom: 60px;
}
.success .mySwiper .swiper-wrapper .swiper-slide .pics {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  z-index: 1;
}
.success .mySwiper .swiper-wrapper .swiper-slide .pics img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.success .mySwiper .swiper-wrapper .swiper-slide .pics .quote {
  position: absolute;
  left: 20px;
  top: -22px;
  z-index: -1;
}
.success .mySwiper .swiper-wrapper .swiper-slide .pics .quote img {
  width: auto;
  height: auto;
  border-radius: initial;
}
.success .mySwiper .swiper-wrapper .swiper-slide .author {
  text-align: center;
  margin-top: 25px;
}
.success .mySwiper .swiper-wrapper .swiper-slide .author h4 {
  font-size: 22px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 8px;
}
.success .mySwiper .swiper-wrapper .swiper-slide .author span {
  font-size: 16px;
  color: #f15d44;
}
.success .mySwiper .swiper-button-next::after,
.success .mySwiper .swiper-button-prev::after {
  color: #bdbdbd;
  font-size: 26px;
}
.success .mySwiper::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1100px;
  height: 540px;
  background: url("https://preview.colorlib.com/theme/gutim/img/testimonial/testimonial-bg.png.webp");
  transform: translate(-550px, -270px);
}

.trainer {
  background-image: url("https://preview.colorlib.com/theme/gutim/img/banner-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 65px;
}
.trainer .container {
  display: flex;
}
.trainer .container .content {
  padding: 145px 15px 0;
  width: 50%;
}
.trainer .container .content h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.trainer .container .content p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 50px;
}
.trainer .container .content a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  padding: 0 12px;
  color: #ffffff;
  width: 160px;
  height: 46px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  transition-duration: 1000ms;
  position: relative;
  z-index: 1;
}
.trainer .container .content a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.trainer .container .content a:hover::before {
  left: 100%;
}
.trainer .container .img {
  width: 50%;
  padding: 0 15px;
}
.trainer .container .img img {
  width: 100%;
}

.membership {
  padding-top: 100px;
}
.membership .container h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.membership .container .boxes {
  display: flex;
}
.membership .container .boxes .box {
  text-align: center;
  background: #ffffff;
  width: 33.33%;
  box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;
  margin: 0 15px;
}
.membership .container .boxes .box h4 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  padding: 25px 0;
  margin-bottom: 38px;
}
.membership .container .boxes .box .triangle {
  position: relative;
  background: linear-gradient(to right, #eb3c5a, #f67831);
}
.membership .container .boxes .box .triangle::after {
  content: "";
  position: absolute;
  transform: translateX(-15px);
  left: 50%;
  bottom: 23px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f67831;
}
.membership .container .boxes .box h3 {
  font-size: 40px;
  font-weight: 600;
  color: #f15d44;
  margin-bottom: 24px;
}
.membership .container .boxes .box h3 span {
  font-size: 16px;
  font-weight: 400;
  color: #6b6b6b;
}
.membership .container .boxes .box ul {
  margin-bottom: 27px;
}
.membership .container .boxes .box ul li {
  font-size: 16px;
  line-height: 36px;
}
.membership .container .boxes .box ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b6b6b;
}
.membership .container .boxes .box ul li span {
  color: #111111;
  font-weight: 600;
}
.membership .container .boxes .box .btn {
  display: inline-block;
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0 12px;
  background-color: #fff;
  width: 160px;
  height: 46px;
  transition-duration: 1000ms;
  line-height: 45px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  position: relative;
  z-index: 0;
}
.membership .container .boxes .box .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 1000ms;
  opacity: 0;
  background: linear-gradient(to right, #eb3c5a, #f67831);
}
.membership .container .boxes .box .btn:hover {
  color: #fff;
}
.membership .container .boxes .box .btn:hover::after {
  opacity: 1;
}

.register {
  background: #f5f4f4;
  padding: 100px 0 100px;
}
.register .container {
  display: flex;
  background: #ffffff;
  height: 502px;
}
.register .container .content {
  padding: 50px 70px 60px 70px;
  width: 66%;
}
.register .container .content h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.register .container .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b6b6b;
  text-align: center;
  margin: 0 0 47px 0;
}
.register .container .content form {
  display: flex;
  flex-wrap: wrap;
}
.register .container .content form div {
  width: 50%;
  padding: 0 15px;
}
.register .container .content form div label {
  display: block;
  font-size: 14px;
  color: #9b9b9b;
  margin-bottom: 13px;
}
.register .container .content form div input {
  display: block;
  font-size: 14px;
  color: #9b9b9b;
  width: 100%;
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  margin-bottom: 18px;
  outline: none;
}
.register .container .content form button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  border: none;
  padding: 12px 0;
  margin-top: 30px;
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 1;
}
.register .container .content form button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.register .container .content form button:hover::before {
  left: 100%;
}
.register .container .img {
  width: 33%;
}
.register .container .img img {
  width: 100%;
  height: 100%;
}

.latest {
  padding: 100px 0 90px;
}
.latest .container {
  padding: 0 15px;
}
.latest .container h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.latest .container .cards {
  display: flex;
  flex-wrap: wrap;
}
.latest .container .cards .card {
  width: 30.333%;
  margin: 0 15px;
}
.latest .container .cards .card img {
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
}
.latest .container .cards .card p {
  font-size: 14px;
  color: #bdbdbd;
}
.latest .container .cards .card p span {
  display: inline-block;
  font-size: 14px;
  color: #f15d44;
  margin-left: 8px;
  cursor: pointer;
}
.latest .container .cards .card a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #111111;
  line-height: 30px;
  margin-top: 10px;
}
.latest .container .cards .card a:hover {
  color: #f15d44;
  transition: 0.3s;
}

.about {
  background-image: url("https://preview.colorlib.com/theme/gutim/img/breadcrumb/classes-breadcrumb.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 190px;
  height: 400px;
}
.about .container {
  text-align: center;
}
.about .container h2 {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.about .container a {
  font-size: 16px;
  color: #ffffff;
}
.about .container a i {
  font-size: 12px;
}
.about .container span {
  font-size: 16px;
  color: #bdbdbd;
}

.counter .container {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  padding: 5px 65px 15px;
}
.counter .container .count {
  margin-right: 180px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.counter .container .count:hover {
  transform: scale(1.1);
}
.counter .container .count h2 {
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
}
.counter .container .count p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 15px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.award {
  padding: 100px 0 100px;
}
.award .container {
  display: flex;
}
.award .container .text {
  padding-top: 20px;
  width: 66%;
}
.award .container .text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.award .container .text p {
  font-size: 16px;
  font-weight: 400;
  color: #6b6b6b;
  line-height: 26px;
  margin: 0 0 15px 0;
}
.award .container img {
  padding: 0 15px;
  height: 272px;
}

.member {
  display: flex;
  flex-wrap: wrap;
  max-width: 1423px;
}
.member .bannerone {
  width: 50%;
  background-image: url("https://preview.colorlib.com/theme/gutim/img/footer-banner/footer-banner-1.jpg.webp");
}
.member .bannertwo {
  width: 50%;
  background-image: url("https://preview.colorlib.com/theme/gutim/img/footer-banner/footer-banner-2.jpg.webp");
}
.member .bannerone,
.member .bannertwo {
  position: relative;
  height: 400px;
  padding: 85px 60px 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.member .bannerone span,
.member .bannertwo span {
  font-size: 16px;
  color: #f15d44;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.member .bannerone h2,
.member .bannertwo h2 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  margin: 30px 0 5px;
}
.member .bannerone p,
.member .bannertwo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 15px 0;
}
.member .bannerone a,
.member .bannertwo a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 160px;
  height: 46px;
  line-height: 45px;
  padding: 0 12px;
  margin-top: 42px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  position: relative;
  z-index: 1;
}
.member .bannerone a::before,
.member .bannertwo a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.member .bannerone a:hover::before,
.member .bannertwo a:hover::before {
  left: 100%;
}
.member .bannerone::after,
.member .bannertwo::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 520px;
  height: 310px;
  border: 18px solid rgba(255, 255, 255, 0.1);
  transform: translate(-260px, -155px);
  z-index: -1;
}

.classes {
  padding: 90px 0 60px;
}
.classes .container h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
.classes .container .cards {
  display: flex;
  flex-wrap: wrap;
}
.classes .container .cards .card {
  width: 31%;
  margin: 0 1%;
  position: relative;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.classes .container .cards .card img {
  width: 100%;
}
.classes .container .cards .card:hover {
  transform: translateY(-20px);
}
.classes .container .cards .card .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0 30px 15px;
}
.classes .container .cards .card .text h4 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
.classes .container .cards .card .text span {
  font-size: 14px;
  color: #ffffff;
}
.classes .container .cards .card .text span i {
  color: #e85d39;
  margin-right: 4px;
}

.timetable {
  padding-bottom: 100px;
}
.timetable .container h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #111111;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.timetable .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 42px;
}
.timetable .container ul li {
  font-size: 16px;
  font-weight: 600;
  margin-right: 48px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}
.timetable .container ul li.active {
  color: #f15d44;
}
.timetable .container .table-wrapper table {
  width: 100%;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-collapse: collapse;
  padding: 0 15px;
  display: none;
}
.timetable .container .table-wrapper table.active {
  display: table;
}
.timetable .container .table-wrapper table thead {
  border-collapse: collapse;
}
.timetable .container .table-wrapper table thead tr {
  background: #f0f0f0;
}
.timetable .container .table-wrapper table thead tr th {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 25px 0;
}
.timetable .container .table-wrapper table tbody {
  border-collapse: collapse;
}
.timetable .container .table-wrapper table tbody tr {
  text-align: center;
  border: 1px solid #e1e1e1;
}
.timetable .container .table-wrapper table tbody tr td {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  width: 146px;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 18px 0;
  position: relative;
  z-index: 1;
  height: 107px;
  transition: all 0.4s;
}
.timetable .container .table-wrapper table tbody tr td h6 {
  font-size: 16px;
  font-weight: 600;
  color: #f15d44;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.timetable .container .table-wrapper table tbody tr td span {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
}
.timetable .container .table-wrapper table tbody tr td .trainer-name {
  font-size: 12px;
  color: #6b6b6b;
}
.timetable .container .table-wrapper table tbody tr .hover-bg {
  position: relative;
}
.timetable .container .table-wrapper table tbody tr .hover-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.timetable .container .table-wrapper table tbody tr .hover-bg:hover h6,
.timetable .container .table-wrapper table tbody tr .hover-bg:hover span,
.timetable .container .table-wrapper table tbody tr .hover-bg:hover .trainer-name {
  color: #ffffff;
}
.timetable .container .table-wrapper table tbody tr .hover-bg:hover::after {
  opacity: 1;
}

.map {
  position: relative;
  overflow: hidden;
}
.map iframe {
  width: 100%;
  height: 612px;
  filter: blur(2px) brightness(80%);
  transition: filter 0.3s ease;
}
.map:hover iframe {
  filter: blur(0px);
}
.map img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-14px, -21px);
}

.leave {
  padding: 100px 0;
}
.leave .container {
  display: flex;
}
.leave .container .info {
  padding: 0 15px;
}
.leave .container .info h4 {
  font-size: 24px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.leave .container .info .widget {
  display: flex;
  margin-bottom: 16px;
}
.leave .container .info .widget .icon {
  height: 74px;
  width: 74px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
  cursor: pointer;
  overflow: hidden;
}
.leave .container .info .widget .icon img {
  display: block;
  transition: transform 0.3s ease;
}
.leave .container .info .widget .icon:hover img {
  transform: scale(1.1);
}
.leave .container .info .widget .text {
  padding-top: 12px;
}
.leave .container .info .widget .text h5 {
  font-size: 18px;
  font-weight: 400;
  color: #bdbdbd;
  margin-bottom: 5px;
}
.leave .container .info .widget .text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #111111;
  margin: 0 0 15px 0;
}
.leave .container .info .widget .text p:hover {
  color: #eb3c5a;
  transition: 0.3s;
}
.leave .container form {
  max-width: 780px;
  width: 100%;
  padding: 0 40px;
}
.leave .container form h4 {
  font-size: 24px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.leave .container form div {
  display: flex;
  justify-content: space-between;
}
.leave .container form div input {
  width: 48%;
  height: 51px;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
}
.leave .container form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 42px;
  resize: none;
  outline: none;
}
.leave .container form button {
  font-size: 14px;
  color: #ffffff;
  padding: 10px 33px;
  display: inline-block;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  border: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.leave .container form button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  z-index: -1;
  transition: left 1s ease;
}
.leave .container form button:hover::before {
  left: 100%;
}

.gallery {
  padding: 100px 0 70px;
}
.gallery .container .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.gallery .container .menu li {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  margin-right: 30px;
  cursor: pointer;
}
.gallery .container .menu li.active {
  color: #f15d44;
}
.gallery .container .gallery-filter {
  display: flex;
  flex-wrap: wrap;
}
.gallery .container .gallery-filter .gallery-item {
  display: flex;
}
.gallery .container .gallery-filter .gallery-item img {
  width: 100%;
  max-width: 537px;
}
.gallery .container .gallery-filter .gallery-item .galleryone {
  padding: 0 15px;
}
.gallery .container .gallery-filter .gallery-item .gallerytwo {
  padding: 0 15px;
}
.gallery .container .gallery-filter .gallery-item .gallerytwo .gallery-items {
  margin-bottom: 38px;
}
.gallery .container .gallery-filter img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gutim .container {
    display: flex;
    margin: 0 4%;
  }
  .gutim .container .logo {
    margin: 0 5%;
  }
  .gutim .container .nav-menu {
    display: none;
  }
  .gutim .container .nav-menu .menu {
    display: none;
  }
  .gutim .container .nav-menu .btn {
    display: none;
  }
  .gutim .container .menu-toggle {
    display: block;
    margin-right: 4%;
    font-size: 22px;
  }
  .gutim .container .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background: #fff;
    padding: 10% 5% 5%;
    z-index: 1;
    transition: 0.4s;
    box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
  }
  .gutim .container .nav-menu.active .menu {
    display: block;
  }
  .gutim .container .nav-menu.active .menu li {
    margin-bottom: 5%;
  }
  .gutim .container .nav-menu.active .menu li a {
    color: #000;
  }
  .gutim .container .nav-menu.active .btn {
    display: none;
    margin: 35px 0;
  }
  .gutim .container .nav-menu.active .close-menu {
    position: absolute;
    display: block;
    top: 22px;
    right: 30px;
    font-size: 21px;
    color: #f15d44;
  }
  .hero .container {
    padding-top: 267px;
  }
  .hero .container .content {
    padding: 0 62px;
  }
  .hero .container .content h1 {
    font-size: 30px !important;
  }
  .story .container {
    display: block;
  }
  .story .container .video {
    width: 100%;
    padding: 0 45px;
  }
  .story .container .content {
    width: 100%;
    padding: 10px 45px;
  }
  .story .container .content h2 {
    font-size: 39px;
  }
  .strategies .container {
    display: block;
  }
  .strategies .container .image {
    width: 100%;
  }
  .strategies .container .boxes {
    width: 100%;
    margin-top: -7px;
  }
  .strategies .container .boxes .box {
    width: 100%;
  }
  .unlimited .Personal .swiper-wrapper {
    flex-wrap: wrap;
    max-width: 768px;
  }
  .unlimited .Personal .swiper-wrapper .swiper-slide {
    padding: 0 15px;
    width: 50% !important;
    box-sizing: border-box;
  }
  .unlimited .Personal .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  .unlimited .Personal .swiper-wrapper .swiper-slide .text {
    padding: 10px;
  }
  .expert {
    padding: 0;
  }
  .expert .container .cards {
    flex-wrap: wrap;
  }
  .expert .container .cards .card {
    width: 100% !important;
    margin-bottom: 30% !important;
  }
  .expert .container .cards .card .text {
    width: 90%;
  }
  .success .mySwiper .swiper-wrapper .swiper-slide {
    margin: 0;
  }
  .success .mySwiper .swiper-wrapper .swiper-slide p {
    max-width: 670px;
  }
  .trainer .container {
    display: block;
    margin: 0 65px;
  }
  .trainer .container .content {
    width: 100%;
    margin-bottom: 5%;
  }
  .membership .container .boxes {
    display: block;
  }
  .membership .container .boxes .box {
    width: 100%;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: 0;
  }
  .register {
    margin-bottom: 90%;
    margin-top: 0;
    padding: 90px 0 100px;
  }
  .register .container {
    display: block;
  }
  .register .container .content {
    width: 100%;
  }
  .register .container .img {
    width: 82%;
    margin: 0 9%;
  }
  .register .container .img img {
    width: 100%;
  }
  .latest .container .cards .card {
    width: 45%;
    margin-bottom: 5%;
  }
  .latest .container .cards .card a {
    font-size: 18px;
  }
  .award .container {
    display: block;
    margin: 0 10%;
  }
  .award .container .text {
    width: 100%;
  }
  .award .container img {
    padding: 0;
  }
  .member {
    flex-direction: column;
  }
  .member .bannerone,
  .member .bannertwo {
    width: 100%;
    padding: 46px 60px 0;
  }
  .classes {
    padding: 0;
  }
  .classes .container .cards {
    margin: 0 40px;
  }
  .classes .container .cards .card {
    width: 45%;
    margin: 2%;
  }
  .timetable .container {
    margin: 0 7%;
  }
  .timetable .container .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .timetable .container .table-wrapper table {
    min-width: 600px;
  }
  .gallery .container .gallery-filter {
    width: 100%;
    padding: 0 !important;
  }
  .gallery .container .gallery-filter .gallery-item {
    display: block;
    flex: 1 1 100%;
  }
  .gallery .container .gallery-filter .gallery-item .galleryone,
  .gallery .container .gallery-filter .gallery-item .gallerytwo {
    width: 100%;
  }
  .gallery .container .gallery-filter .gallery-item .galleryone img,
  .gallery .container .gallery-filter .gallery-item .gallerytwo img {
    width: 100%;
  }
  .leave .container {
    display: block;
  }
  .leave .container .info {
    padding: 0 40px;
  }
  footer .information .container {
    display: block;
  }
  footer .information .container .contact {
    margin-bottom: 4%;
  }
  footer .subscribe .container {
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  footer .subscribe .container .text h4 {
    font-size: 18px;
  }
  footer .subscribe .container form {
    width: 100%;
  }
  footer .subscribe .container form input {
    padding-left: 0;
  }
  footer .copyright .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .copyright .container .social {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1024px) {
  .gutim .container {
    display: flex;
    margin: 0 4%;
  }
  .gutim .container .logo {
    margin: 0 5%;
  }
  .gutim .container .nav-menu {
    display: none;
  }
  .gutim .container .nav-menu .menu {
    display: none;
  }
  .gutim .container .nav-menu .btn {
    display: none;
  }
  .gutim .container .menu-toggle {
    display: block;
    margin-right: 4%;
    font-size: 22px;
  }
  .gutim .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background: #fff;
    padding: 10% 5% 5%;
    z-index: 1;
    transition: 0.4s;
    box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
  }
  .gutim .nav-menu.active .menu {
    display: block;
  }
  .gutim .nav-menu.active .menu li {
    margin-bottom: 5%;
  }
  .gutim .nav-menu.active .menu li a {
    color: #000;
  }
  .gutim .nav-menu.active .btn {
    display: block;
    margin: 35px 0;
  }
  .gutim .nav-menu.active .close-menu {
    position: absolute;
    display: block;
    top: 36px;
    right: 64px;
    font-size: 21px;
    color: #f15d44;
  }
  .hero .container {
    padding-top: 267px;
  }
  .hero .container .content {
    padding: 0 62px;
  }
  .hero .container .content h1 {
    font-size: 60px;
  }
  .story .container {
    display: block;
  }
  .story .container .video {
    width: 100%;
    padding: 0 45px;
  }
  .story .container .content {
    width: 100%;
    padding: 10px 45px;
  }
  .story .container .content h2 {
    font-size: 39px;
  }
  .strategies .container {
    display: block;
  }
  .strategies .container .image {
    width: 100%;
  }
  .strategies .container .boxes {
    width: 100%;
    margin-top: -7px;
  }
  .strategies .container .boxes .box {
    width: 100%;
  }
  .expert {
    padding: 0;
  }
  .expert .container .cards {
    flex-wrap: wrap;
  }
  .expert .container .cards .card {
    width: 46%;
    margin-bottom: 10%;
  }
  .expert .container .cards .card .text {
    width: 90%;
  }
  .success .mySwiper .swiper-wrapper .swiper-slide {
    margin: 0;
  }
  .success .mySwiper .swiper-wrapper .swiper-slide p {
    max-width: 670px;
  }
  .trainer .container {
    display: block;
    margin: 0 65px;
  }
  .trainer .container .content {
    width: 100%;
    margin-bottom: 5%;
  }
  .membership .container {
    padding: 0 15px;
  }
  .membership .container .boxes {
    display: block;
  }
  .membership .container .boxes .box {
    width: 100%;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: 0;
  }
  .register {
    margin-bottom: 90%;
    margin-top: 0;
    padding: 90px 0 100px;
  }
  .register .container {
    display: block;
  }
  .register .container .content {
    width: 100%;
  }
  .register .container .img {
    width: 82%;
    margin: 0 9%;
  }
  .register .container .img img {
    width: 100%;
  }
  .latest .container .cards .card {
    width: 46%;
    margin-bottom: 5%;
  }
  .latest .container .cards .card a {
    font-size: 18px;
  }
  .award .container {
    display: block;
    margin: 0 10%;
  }
  .award .container .text {
    width: 100%;
  }
  .award .container img {
    padding: 0;
  }
  .member {
    flex-direction: column;
  }
  .member .bannerone,
  .member .bannertwo {
    width: 100%;
    padding: 46px 60px 0;
  }
  .classes {
    padding: 4% 0 0;
  }
  .classes .container .cards {
    margin: 0 40px;
  }
  .classes .container .cards .card {
    width: 45%;
    margin: 2%;
  }
  .timetable .container {
    margin: 0 7%;
  }
  .timetable .container .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .timetable .container .table-wrapper table {
    min-width: 600px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gallery .container .gallery-filter {
    width: 100%;
    padding: 0 150px;
  }
  .gallery .container .gallery-filter .gallery-item {
    display: block;
    flex: 1 1 100%;
  }
  .gallery .container .gallery-filter .gallery-item .galleryone,
  .gallery .container .gallery-filter .gallery-item .gallerytwo {
    width: 100%;
  }
  .gallery .container .gallery-filter .gallery-item .galleryone img,
  .gallery .container .gallery-filter .gallery-item .gallerytwo img {
    width: 100%;
  }
  .leave .container {
    display: block;
  }
  .leave .container .info {
    padding: 0 40px;
  }
  footer .information .container {
    display: block;
  }
  footer .information .container .contact {
    margin-bottom: 4%;
  }
  footer .subscribe .container {
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  footer .subscribe .container .text h4 {
    font-size: 18px;
  }
  footer .subscribe .container form input {
    padding-left: 0;
  }
  footer .copyright .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .copyright .container .social {
    margin-top: 2%;
  }
}/*# sourceMappingURL=style.css.map */